:root:root {
    --primary-color: #ff9854;
    --van-search-left-icon-color: var(--primary-color);
    --line-color: #e8e8e8;
}

body {
    font-size: 14px;
}

.top-page {
    position: relative;
    z-index: 9;
    height: 100vh;
    background-color: #fff;

    overflow-y: auto;
}

.bottom-gray-line {
    border-bottom: 1px solid var(--line-color);
}